/**
 * Author: Federico Engler
 * 
 * Common style rules for our application.
 */
@import 'vars.less';
@import 'mixins.less';

// Basic CSS reset.
html,
body {
    border: 0;
    margin: 0;
    padding: 0;

    // As we are using rem as unit for font sizes, set the base font size to default size
    // 10px to make out rem calculations easier.
    font-size: 62.5%;
}

body {
    background: @body-background;
}
