/**
 * Author: Federico Engler
 * 
 * Common LESS variables used in our style definitions.
 */

// Colors.
@body-background: #3b3a4a;
@navlink-color: #888;
@navlink-active-color: #bbb;

// Dimensions.
@desktop-width: 1200px;
@image-indicator-size: 7px;

// Font stuff.
@main-font: 'Oswald', sans-serif;
@navlink-font-size: 2.4rem;
