/**
 * Author: Federico Engler
 * 
 * Common LESS variables used in our style definitions. This allows me to
 * quickly change key styling concepts on my page, without having to run
 * around in the code looking for the style properties.
 */

// Colors.
@body-background-color: #45454d;
@caption-color: #bbb;
@carousel-border-color: #909090;
@dark-shadow-color: #111;
@navlink-color: #7ba4c6;
@navlink-active-color: #d7e6f1;
@navlink-hover-color: #a6c4db;
@logo-color: #c5c5c5;
@news-color: #bbb;
@slider-border-color: #bbb;
@slider-arrow-color: #eee;
@thumbnail-border-color: #909090;

// Dimensions.
@content-top-margin: 8rem;
@desktop-width: 1100px;
@mobile: ~'screen and (max-width: 700px)';
@mobile-tight: ~'screen and (max-width: 500px)';

// Font stuff.
@caption-font: 'Oswald', sans-serif;
@main-font: 'Oswald', sans-serif;
@logo-font: 'Hurricane', cursive;
@caption-font-size: 1.4rem;
